@import "_normalize";
@import "_grid";

$blackMed: #2E3333;
$clouds: #ECF0F1;
$silver: #BDC3C7;
$asbestos: #7F8C8D;
$wetasphalt: #34495E;

$maxWidth: 1200px;

@mixin area($color:red, $grosor:1px) {
    border: $grosor solid $color;
}

* {
    box-sizing: border-box;
}

main {
    background: $clouds;
    min-height: 100vh;
    max-width: $maxWidth;
    margin-right: auto;
    margin-left: auto;
}

input, select {
    border: 1px solid $silver;
    border-radius: 2px;
}

.row {
    max-width: $maxWidth;
}

.main-header {
    background: $blackMed url('assets/marvel_logo.png') no-repeat 20px center;
    background-size: auto 37px;
    box-shadow: 0 3px 2px rgba(0,0,0,.3);
    padding: 10px 10px 10px 0;
    height: 55px;
    width: 100%;
    z-index: 999;

    .main-header__controlls {
        height: 100%;
        max-width: 75%;
        text-align: right;
        padding-right: 8px;

        input {
            background: #FFF url('assets/search.png') no-repeat 98% center;
            background-size: auto 25px;
            height: 100%;
            padding: 0 5px;
            width: 350px;
        }

        @media screen and (max-width: 39.9375em) {
            max-width: 66.66667%;

            input {
                width: 200px;
            }
        }
    }
}

.characters-wrapper {
    padding: 30px 15px 20px 25px;
}

.back-btn {
    color: #FFF;
    margin: 20px 0 0 40px;
    background: #2E3333 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAATlBMVEUAAADzKS7yJy7yKC7/QEDyKC7xJjDzKi/yKC7/AADyKC7yKC7uIjPzKzHzJSzyKC7yJi3yKC7zKC7xJy7yKC3zKS7tJDfyKC3yKC4AAAAT72/7AAAAGHRSTlMALMKxBOo1K8cC6cgPKinoKOf1b2BYDspiG45bAAAAAWJLR0QAiAUdSAAAAAlwSFlzAAAN+wAADfsBC3c1mwAAAAd0SU1FB+EFDRMOCzx33AUAAABaSURBVDjLY2AYVoCRiZkFrzyrhAQbHnl2oDwHJx55LgkJbh7c8rwUyvPxUyYvICghISQsggOIijGIS+AF4oQVELSCoCOJUUEooIhRQSiyCEc34QRDOMkNbQAA6AIP3fF+L/8AAAAldEVYdGRhdGU6Y3JlYXRlADIwMTctMDUtMTNUMTk6MTQ6MTErMDI6MDCdb8QBAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE3LTA1LTEzVDE5OjE0OjExKzAyOjAw7DJ8vQAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAAASUVORK5CYII=') no-repeat 10px center;
    border: none;
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    padding: 0 50px;
    width: 120px;
    height: 40px;
    text-transform: uppercase;
}
